.question_form{
    background-color: #f4f4f9;
    height: 100%;
    padding: 30px 0;
}

.section{
    margin: auto;
    width: 50%;   
}

.question_form_top{
    background-color: white;
    border-top: 8px solid rgb(103, 58, 183);
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}

.question_form_top_name{
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f7f7f7;
    color: black;
    height: 35px;
}

.question_form_top_desc{
    box-sizing: border-box;
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f7f7f7;
    color: black;
    height: 20px;
}